{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "arrowParens": "always",
  "jsxSingleQuote": false,
  "jsxBracketSameLine": true,
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "css",
  "endOfLine": "lf",
  "printWidth": 1000
}
